<div class="home col-xs-7 col-sm-7 ">
  <span><h3 class="text-danger">{{themessage}}</h3><span>
</div>
<div>

    <style>
        img {
        opacity: 0.6;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        }
     </style>


<img src="/images/herebedragons.jpg" usemap="#buttonmap">


</div>
