<div class="home col-xs-7 col-sm-7 ">
    <!-- themessage is set or reset by an Admin -->
    {{#if themessage}}
        <span><h3 class="text-danger">{{themessage}}</h3></span>
    {{/if}}
</div>
<h2>{{title}}</h2>
